<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/0.1.0-beta/libs/@ijstech/components/index.js"></script>
</head>
<html>

<body>
  <script>
    async function init() {
      window.addEventListener('message', async function (e) {
        if (e.type == 'message' && typeof(e.data) == 'string'){
            let data = JSON.parse(e.data);
            if (data.module && data.script){
              await application.initModule(data.module, data.script);
              let module = await application.newModule(data.module);
              document.body.append(module);
            }
        }
      });
    };
    init();
  </script>
</body>

</html>